
@font-face {
  font-family: '8BITWONDERNominal';
  src: url('8BITWONDERNominal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "8BITWONDERNominal";
  background-color: #9b4f0f;
  color:#f39d8c;
}

#title {
  text-align: center;
  font-size: 90px;
  color:#8d230f;
  margin-top: 50px;
  text-shadow: 5px 5px black;
}

#container {
  text-align: left;
  font-size: 35px;
  width: 900px;
  margin: auto;
  margin-top: 50px;

  background-color: #1e434c;
  padding: .5em;
}
#container h1 {
  text-align: center;
  color: #8d230f;

  border-bottom: 5px groove black;
  text-shadow: 5px 5px 10px black;
}
#container ul {
  list-style: none;
}
#container span {
  color:white;
  text-shadow: 2px 2px 3px black;
}
#party {
  font-size: 25px;
}

#causeOfDeath {
  background-color: #262626;
  text-align: center;
  color: #2eb82e;
  text-shadow: 2px 2px 3px black;
}


#returnCue {
  width:900px;
  text-align:center;
  margin:auto;
}
