<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" href="../style/end.css"/>
  </head>
  <body>
      <div id="title">The Oregon Trail</div>
      <div id="container">
        <h1>Game Over</h1>
        <div id="stats">
          <ul id="statList">
            <li>Name: <span id="name"></span></li>
            <li>Profession: <span id="profession"></span></li>
            <li>Days On Trail: <span id="daysOnTrail"></span></li>
            <li>Miles Traveled: <span id="milesTraveled"></span></li>
            <li>Party: <span id="party"></span></li>
            <li>Score: <span id="score"></span></li>
          </ul>
        </div>
        <div id="causeOfDeath"></div>
      </div>
      <div id="returnCue">Press SPACE to return to the MainMenu</div>
      <script src="../scripts/end.js"></script>
  </body>
</html>
