<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../style/mainmenu.css" />
  <body>
    <div id="title">The Oregon Trail</div>
    <div id="menuContainer">
      <ol>
        <li id="toGame">1. Travel the trail</li>
        <li>2. Learn about the trail</li>
        <li id="toTopTen">3. See the Oregon top 10</li>
        <li id="toggleSound">4. Turn Sound {<span id="offText" class="active">Off</span> / <span id="onText">On</span>}</li>
      </ol>
    </div>
  </body>
  <script src="../scripts/mainmenu.js"></script>
</html>
