<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../style/topten.css" />
  <body>
    <div id="title">Top Ten Scores</div>
    <div id="topTen">
      <div id="name" class="headers">
        <div>Name</div>
        <ol id="nameList">
        </ol>
      </div>
      <div id="score" class="headers">
        <div>Score</div>
        <ul id="scoreList">
        </ul>
      </div>
      <div id="date" class="headers">
        <div>Date</div>
        <ul id="dateList">
        </ul>
      </div>
    </div>
    <div id="return">Press <em onclick="toMainMenu()">SPACE</em> to go back.</div>
  </body>
  <script src="../scripts/topten.js"></script>
</html>
